@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #e9efec;
  }

  @font-face {
    font-family: "Abril Fatface";
    src: url('../assets/font/abril_fatface/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-abrilff {
    font-family: "Abril Fatface";
  }

  @font-face {
    font-family: "Playfair Display";
    src: url('../assets/font/playfair_display/static/PlayfairDisplay-Regular.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-Italic.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-Bold.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-Black.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-ExtraBold.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-Medium.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-MediumItalic.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-SemiBold.ttf') format('truetype'),
         url('../assets/font/playfair_display/static/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-playfair {
    font-family: "Playfair Display";
  }

  @font-face {
    font-family: "Cormorant";
    src: url('../assets/font/cormorant/static/Cormorant-Regular.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-Italic.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-Light.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-LightItalic.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-Bold.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-BoldItalic.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-Medium.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-MediumItalic.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-SemiBold.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-SemiBoldItalic.ttf') format('truetype'),
         url('../assets/font/cormorant/static/Cormorant-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-cormorant {
    font-family: "Cormorant";
  }
  
  a,.link {
    @apply underline hover:bg-black hover:text-white;
  }
}
